.react-datepicker-popper {
  z-index: 1000;
}

.react-datepicker {
  font-size: 1.5rem; /* Increase font size */
}

.react-datepicker__month-container {
  width: 400px; /* Increase calendar width */
  height: 350px; /* Increase calendar height */
}

.react-datepicker__header {
  font-size: 2rem; /* Increase font size for header */
  padding: 10px; /* Add padding */
}

.react-datepicker__day {
  width: 50px; /* Increase width of each day cell */
  height: 40px; /* Increase height of each day cell */
}

.react-datepicker__day-name {
  width: 50px;
  height: 50px;
}

.react-datepicker__current-month {
  font-size: 1.4rem; /* Larger current month text */
  color: green;
}

.react-datepicker__navigation {
  top: 15px; /* Adjust navigation buttons */
}

/* Styles for the start and end of the range */
.react-datepicker__day--range-start,
.react-datepicker__day--range-end {
  background-color: #5954ef; /* Green background for start and end dates */
  color: white !important; /* White text */
  border-radius: 50%; /* Make it circular */
}

/* Styles for the dates in between (range dates) */
.react-datepicker__day--in-range {
  background-color: #b6baf6 !important; /* Light green background for range dates */
  color: rgb(255, 255, 255) !important; /* Black text */
}

/* Ensure hover effect works */
.react-datepicker__day:hover {
  background-color: #fefefe !important; /* Light gray on hover */
  color: black !important;
}
